
@model IEnumerable<ToolRentalClassLibrary.Tool>


@{
    ViewBag.Title = "Index";
}

<h2>Opret reservation</h2>

Start dato (dd-mm-yyyy)
<br />
<input name="start" />

<br />
Slut dato (dd-mm-yyyy)
<br />
<input name="end" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToolType.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToolType.Name)
            </td>
            <td>
                @Html.ActionLink("Opret reservation", "Create", "Reservations", new { toolId = item.Id, startDate = "02-06-2021", endDate = "06-06-2021" }, null)

            </td>
        </tr>
    }


</table>
